.row.content{
    height: 1500px
}
    /* Set gray background color and 100% height */

.w3-theme-dark {
    color:#fff !important; 
    background-color:#1b7a9f !important
}
.w3-theme-d1 {
    color:#000 !important;
    background-color:#69c2e6 !important
}
.w3-theme-d4 {
    color:#fff !important; 
    background-color:#2092bf !important
}

.w3-theme-d4 a {
    color:   #FF9940; 
}

.w3-round {
       border-radius:4px;
}

.card-3 {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color:#d0ecf7;
    color:#000;
    margin-left:auto;
    margin-right:auto;
    width:85%;
    margin-top: 10px;
    padding-top: 5px;
}

.card-body {
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: -35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-3 img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

footer {
    background-color: #555;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    text-align: center;
}

.imageTitle {
    width: auto;
    height: 215px;
    padding-right: 15px;
    background-image: url(https://bogdanalin92.github.io/img/sunset_git.jpg);
    color:white;
    text-align:right;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-size: 3em;
}

@media all and (max-width: 1170px) {
    .sidenav .h1, h1 {
        font-size: 1.1em;
    }
    .row.content {
        height: auto;
    } 
    .imageTitle {
       font-size: 1.5em; 
    }
    div.sidenav{
        display: inline-table;
        position: fixed;
        padding-left: 30px;
        padding-right: 30px; 
        top:0;
        left:0;
        height: 100%;
    }
    .row{
        bottom: 0;
        margin-left:auto;
        margin-right: auto;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav{
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -ms-flex-pack: end!important;
        justify-content: right !important;
    }
}
