.row.content{
    height: 1500px
}
    /* Set gray background color and 100% height */
.sidenav {
    height: 100%;
    position: fixed;
    left: 0;
}

div.sidenav{
    width:20%;
    padding-left:30px;
    padding-right:30px;
}
div.col-sm-8{
    float:right;
    width:80%;
}

.w3-theme-dark {
    color:#fff !important; 
    background-color:#1b7a9f !important
}
.w3-theme-d1 {
    color:#000 !important;
    background-color:#69c2e6 !important
}
.w3-theme-d4 {
    color:#fff !important; 
    background-color:#2092bf !important
}
.w3-round {
       border-radius:4px;
}

.card-3 {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color:#d0ecf7;
    color:#000;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    margin-top: 10px;
    padding-top: 5px;
}

.card-body {
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: -35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-3 img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

footer {
    background-color: #555;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    text-align: center;
}

.imageTitle {
    width: auto;
    height: 215px;
    background-image: url(https://bogdanalin92.github.io/img/sunset_git.jpg);
    color:white;
    text-align:right;
    font-family: Monospace, Times, serif;
    font-style: normal;
    font-size: 3em;
}

@media all and (max-width: 1010px) {
    .sidenav {
        font-size: 1.5em;
    }
    .row.content {
        height: auto;
    } 
    .imageTitle {
       font-size: 1.5em; 
    }
    div.sidenav{
        width:20%;
        height: 100%;
        position: fixed;
    }
}
@media (min-width: 576px) {
    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        right: 0;
        margin-left: auto;
    }
}
