body, html {
    height:100%;
    margin: 0;
}

body {
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
}
.row {
    width: 100%;   
}
.container{
    display:grid;
    grid-template-columns: 50% auto;
    height: 100%;
    align-self: center;
    margin: 0 50px;
}

.w3-theme-dark {
    color:#fff !important; 
    background-color:#1b7a9f !important;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.w3-theme-d1 {
    color:#000 !important;
    background-color:#69c2e6 !important
}
.w3-theme-d4 {
    color:#fff !important; 
    background-color:#2092bf !important
}

.w3-theme-d4 a {
    color:   #FF9940; 
}

.w3-round {
       border-radius:4px;
}

.card-3 {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color:#d0ecf7;
    color:#000;
    margin-left:auto;
    margin-right:auto;
    width:85%;
    margin-top: 10px;
    padding-top: 5px;
}

.card-body {
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: -35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-3 img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.homearticle {
    -webkit-clip-path: polygon(51% 0, 100% 0, 100% 35%, 100% 70%, 79% 80%, 48% 80%, 21% 79%, 0% 70%, 0% 35%, 0 0);
    clip-path: polygon(51% 0, 100% 0, 100% 35%, 100% 70%, 79% 80%, 48% 80%, 21% 79%, 0% 70%, 0% 35%, 0 0);
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 95px;
    margin-top: 50px;
    background-color:#09203f;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

footer {
    background-color: #555;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.imageTitle {
    width: auto;
    height: 215px;
    padding-right: 15px;
    background-image: url(https://bogdanalin92.github.io/img/sunset_git.jpg);
    color:white;
    text-align:right;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-size: 3em;
}
div.sidenav{
        display: inline-block;
        position: fixed;
        padding-left: 30px;
        padding-right: 30px; 
        left:0;
        height: 100%;
}
.navbar {
    position: relative;
    display: -ms-inline;
    display: inline;
    -ms-flex-wrap: wrap;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between !important;
    padding: .5rem 1rem;
}

.nav-link {
    border: #0d121678 solid 1px;
    border-radius: 5px;
    background-color: #202A34;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    text-decoration: none;
    color: #1b1e21;
    text-shadow: 1px 1px 3px #C4C1BC;
    text-align: center;
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 5px;
}

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
}


@media all and (max-width: 1170px) {
    .sidenav h1, .h1 {
        font-size: 1.0em;
        white-space: pre-wrap;
    }
    .imageTitle {
       font-size: 1.5em; 
    }
    .row{
        bottom: 0;
        position: inherit;
        margin-top: 0;
        margin-bottom: 125px;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        z-index: 0;
    }
    div.sidenav {
        display: block;
        position: fixed;
        padding-left: 30px;
        padding-right: 30px;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1;
    }
    nav.justify-content-end {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
}
.bgShape, .bgShape2, .bgShape3{
    width: 100%;
    height: 100%;
    position: fixed;
}
.bgShape {
    background-color:#008FFF;
    -webkit-clip-path: polygon(93% 0, 100% 50%, 90% 100%, 57% 100%, 81% 50%, 60% 0);
    clip-path: polygon(93% 0, 100% 50%, 90% 100%, 57% 100%, 81% 50%, 60% 0); 
    z-index:-1;
    mix-blend-mode:multiply;
}

.bgShape2 {
    background-color:#006FC7;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 57% 100%, 43% 47%, 59% 0);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 57% 100%, 43% 47%, 59% 0);
    z-index:-3;
}

.bgShape3 {
    background-color:#00BCFF;
    -webkit-clip-path: polygon(25% 0%, 0 0, 75% 100%, 100% 100%);
    clip-path: polygon(25% 0%, 0 0, 75% 100%, 100% 100%);   
    z-index:-2;
    mix-blend-mode:multiply;
}


@media (max-width: 575px) {
    div.sidenav {
        height: fit-content;
        display: inline-flex;
        align-items: baseline;
    }
    .row {
        margin-top: 50px;
        margin-bottom: 125px;
    }
    nav.justify-content-end {
        -ms-flex-pack: flex-end!important;
        justify-content: end!important;
        display: inline-block;
        position: static;
        margin-left: auto;
    }
    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        left: 0;
        line-height: inherit;
        white-space: nowrap;
    }
}


